{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<div class="grid grid-cols-2 gap-12">
  <div class="relative">
    <div class="sticky top-8 flex flex-col gap-8">
      <div class="flex justify-between">
        <h1 class="font-bold">{{ product.title }}</h1>
      </div>

      <div class="flex flex-col gap-4">
        {% form 'product', product %}
          {% assign current_variant = product.selected_or_first_available_variant %}

          <select name="id" class="p-4 w-full my-2 border border-1 border-black">
            {% for variant in product.variants %}
              <option
                value="{{ variant.id }}"
                {% if variant == current_variant %}
                  selected="selected"
                {% endif %}
              >
              {{ variant.title }} - {{ variant.price | money }}               
              {% if variant.compare_at_price > variant.price %}
                {% assign price_difference = variant.compare_at_price | minus: variant.price %}
                <span>(Save {{ price_difference | money }})</span>
              {% endif %}
              </option>
            {% endfor %}

          </select>
          <input class="hidden" type="text" name="quantity" min="1" value="1">

          <input type="submit" value="Add to cart" class="hidden py-4">
          <div class="py-2" style="margin-top: 12px;">
          {{ form | payment_button }}
          </div>
        {% endform %}
      </div>

      <details>
        <summary>Details</summary>
        <p>{{ product.description }}</p>
      </details>

    </div>
  </div>

  <div class="product-images grid grid-cols-1 gap-8">
    {% for image in product.images %}
      {% render 'image', class: 'product-image rounded-xl opacity-70', image: image %}
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
